
{% extends "base.html"%}
{% load static %}


{% block maincontent %}
<!--
<section class="bg-dark text-light">
    Cart
</section>

<div class="table-responsive-sm">
    <table class="table table-bordered align-middle">
        <tr>
            <th>name</th>
            <td>....</td>
        </tr>
        <tr>
            <th>address</th>
            <td>...</td>
        </tr>
        <tr>
            <th>mobile</th>
            <td>...</td>
        </tr>
        <tr>
            <th>products in the cart</th>
            <td>...</td>
        </tr>
    </table>
</div>
<div class="container d-grid gap-2 mx-auto">
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#reg" type="button">BUY</button>
</div>
<section class="bg-secondary text-light">
    thankyou for choosing us
</section>

-->


 <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
{% endblock maincontent %}