{% extends "base.html"%} {% load static %} {% block maincontent %}
<!-- Showcase -->
<section
  class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
>
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <p class="lead my-4">
          We focus on our customers fundamental needs and try to make this place
          as easily accessable as it can.
        </p>
        <a href="#latest" class="btn btn-primary btn-lg">
          CLICK HERE FOR THE LATEST PRODUCTS!
      </a>
      </div>
      <img
        class="img-fluid w-50 d-none d-sm-block"
        src="{% static 'techicart\images\logo01.png' %}"
        alt=""
      />
    </div>
  </div>
</section>

<!--another-->
<section class="bg-secondary text-light p-4">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center">
      <h3 class="mb-3 mb-md-0" id="latest">latest offers</h3>
    </div>
  </div>
</section>

<!-- Boxes -->
<section class="p-5">
  <div class="container bd-light">
    <div class="row text-center g-4">
      <div class="card" style="width: 18rem">
        <img
          src="{% static 'techicart/images/laptop3.jpg' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">laptop title</h5>
          <p class="card-text">some content</p>
          <a href="product_view/" class="btn btn-primary">view</a>
        </div>
      </div>

      <div class="card" style="width: 18rem">
        <img src="{% static 'techicart/images/laptop3.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">laptop title</h5>
          <p class="card-text">some content</p>
          <a href="product_view/" class="btn btn-primary">view</a>
        </div>
      </div>

      <div class="card" style="width: 18rem">
        <img src="{% static 'techicart/images/laptop3.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">laptop title</h5>
          <p class="card-text">some content</p>
          <a href="product_view/" class="btn btn-primary">view</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- MORE Sections -->
<section id="learn" class="p-5">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img src="" class="img-responsive" alt="" />
      </div>
      <div class="col-md p-5">
        <h2>Latest DESKTOPS</h2>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          deleniti possimus magnam corporis ratione facere!
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
          reiciendis eius autem eveniet mollitia, at asperiores suscipit quae
          similique laboriosam iste minus placeat odit velit quos, nulla
          architecto amet voluptates?
        </p>
        <a href="#" class="btn btn-light mt-3">
          <i class="bi bi-chevron-right"></i> Read More
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock maincontent %}
