
{% extends "base.html"%}
{% load static %}


{% block maincontent %}
{% comment %} 
{% for product in products %}

  <h2>{{product.no}}</h2>
  <h2>{{product.title}}</h2>
  <h2>{{product.mrp}}</h2>
  <h2>{{product.des}}</h2>
  
  
not working

{% endfor %} {% endcomment %}



<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src="{% static 'techicart/images/laptop3.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">laptop</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="product_view/" class="btn btn-primary">LOOK ON</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'techicart/images/laptop2.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="product_view/" class="btn btn-primary">LOOK ON</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'techicart\images\laptop3.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        <a href="product_view/" class="btn btn-primary">LOOK ON</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'techicart/images/laptop2.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="product_view/" class="btn btn-primary">LOOK ON</a>
      </div>
    </div>
  </div>
</div>

 





{% endblock maincontent %}